h1 a,h2 a{
    color: #DE781F;
}

body {
    padding-left: 15px;
    font-family: 'Edu TAS Beginner', cursive;
    background-color: #99ccff;
}

.page-header{
    margin-top: 0;
    padding: 20px;
    background-color: red;
    border-radius:10px;
}